@charset "UTF-8";
.botones {
  text-align: center;
  text-decoration: none;
  color: black;
  background: linear-gradient(180deg, #676767 26%, #404040 80%);
  border: none;
  padding: 1em 1.5em;
  display: inline-block;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

.botones::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.botones:hover {
  color: #fff;
}

.botones:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* From Uiverse.io by andrew-demchenk0 */
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid black;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
}

.button__icon {
  border-left: 1px solid black;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: black;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: black;
}

.button:hover {
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
}

.button:active {
  border: 1px solid linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
}

/* From Uiverse.io by vinodjangid07 */
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

/* From Uiverse.io by NorthFishHasNa */
.botones12 {
  display: inline-block;
  border-radius: 4px;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
  border: none;
  color: black;
  text-align: center;
  padding: 4px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.botones12 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botones12 span:after {
  content: "+";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.botones12:hover span {
  padding-right: 15px;
}

.botones12:hover span:after {
  opacity: 1;
  right: 0;
}

* {
  padding: 0;
  font-family: "Libre Bodoni", serif;
  font-weight: 600;
}

/* From Uiverse.io by vinodjangid07 */
iframe {
  width: 100%;
}

h1, h2 {
  text-shadow: 0px 2px 4px rgb(0, 0, 0);
  margin: 0 !important;
}

.container-s {
  width: 95%;
  max-width: 900px;
  padding: 32px 64px;
  margin: auto;
}

.social {
  /*las imágenes usadas tienen width de 48px*/
  width: 48px;
  position: fixed;
  top: 50px;
  right: 0;
}

/* Extra centrado vertical*/
.social {
  /*border:1px solid #000;*/
  top: 50%;
  height: 205px;
  /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
  margin-top: -100px;
}

header {
  position: sticky;
  top: 0em;
  z-index: 1000;
  width: 100%;
  color: white;
}
header .logo {
  width: 30%;
}
header .desplegable {
  color: white;
}
header .desplegable ul li {
  list-style: none;
}
header .desplegable ul li a {
  color: white;
}
header .navbar {
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 10%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
  animation: slide-in-top 0.3s both;
}
.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.imagen {
  display: flex;
  align-items: end;
}
.imagen .titulo {
  display: flex;
  justify-content: center;
  font-size: 300%;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgb(0, 0, 0);
}
.imagen .barra {
  height: 20%;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen .barra a {
  color: black;
  border: solid black 0.1em;
  text-decoration: none;
  padding: 0.3em 1em 0.3em 1em;
  padding-right: 1em;
}
.imagen .barra1 {
  height: 20%;
  margin-bottom: 40%;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen .barra1 a {
  color: black;
  border: solid black 0.1em;
  text-decoration: none;
  padding: 0.3em 1em 0.3em 1em;
  padding-right: 1em;
}

.ejemplo2 {
  display: flex;
  align-items: end;
  border: 0.2em solid transparent;
  border-image: linear-gradient(to right, #d7bcb1, #e6b498, #daa2a8, #6ca2be, #8fb1c6);
  border-image-slice: 1;
  margin: 1em;
}
.ejemplo2 .titulo {
  display: flex;
  justify-content: center;
  font-size: 300%;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgb(0, 0, 0);
}
.ejemplo2 .barra {
  height: 20%;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ejemplo2 .barra a {
  color: black;
  border: solid black 0.1em;
  text-decoration: none;
  padding: 0.3em 1em 0.3em 1em;
  padding-right: 1em;
}

.arriba {
  width: 100%;
  margin-top: -200px;
}

.imagenes2 {
  display: flex;
  justify-content: space-around;
  border-top: solid black 0.1em;
  border-bottom: solid black 0.1em;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
}
.imagenes2 img {
  margin-top: 10%;
  width: 100%;
  padding: 4%;
}
.imagenes2 a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.servicio {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  background: linear-gradient(56deg, rgba(215, 188, 177, 0.7058823529) 3%, rgba(230, 181, 152, 0.7058823529) 17%, rgba(218, 162, 168, 0.7058823529) 41%, rgba(108, 162, 190, 0.7058823529) 62%, rgba(143, 177, 198, 0.7058823529) 76%, rgba(255, 255, 255, 0.7058823529) 95%);
}
footer {
  padding: 10%;
  border-top: black solid 1em;
  background-color: gray;
  display: flex;
}

h4 {
  width: 50%;
}

.ayd {
  display: flex;
}

.ayd div {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
