footer {
    background: rgba(112, 112, 112, 0.322); /* Color de fondo del footer */
    border-top: solid 0.1em #000000;
}

.footer-info h2 {
    font-size: 24px;
    color: #333;
}

.footer-socials {
    margin-top: 10px;
}

.social-link {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff; /* Color del enlace */
    font-size: 16px;
}

.social-link:hover {
    text-decoration: underline;
}

.footer-location {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.footer-map iframe {
    border: 0;
}

.footer-copyright {
    font-size: 12px;
    color: #666;
}
