header{
    //background: rgb(215,188,177);
    //background: linear-gradient(56deg, rgba(215,188,177,1) 3%, rgba(230,180,152,1) 17%, rgba(218,162,168,1) 41%, rgba(108,162,190,1) 62%, rgba(143,177,198,1) 76%, rgba(255,255,255,1) 95%);
    padding-top:3%;
    .logo{
        width: 30%;
    }
    .navbar{
        border-top: black solid 0.1em;
        border-bottom: black solid 0.1em;
    }  
}




